.whatsapp-float {
  position: fixed;
  bottom: 15px;
  left: 25px;
  width: 50px;
  height: 50px;
  background: #25d366;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.whatsapp-float:hover {
  transform: scale(1.1);
}

.whatsapp-float.hide {
  opacity: 0;
  pointer-events: none;
  transform: scale(0.85);
}

@media (max-width: 600px) {
      .whatsapp-float {
        bottom: 56px;
        left: 89% !important;
        width: 25px;
        height: 25px;
    }
}
